@import './utils/button.css';

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 4rem;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0 13px 4px #00000039;
	padding: 3rem;
	border-radius: 1rem;
}

.padding-large {
	padding: 7rem 3rem;
}

.image {
	height: 20rem;
	width: 40rem;
}

.image > img {
	height: 100%;
	width: 100%;
}

.form {
	display: flex;
	flex-direction: column;
	width: 30rem;
}

.form > input {
	margin: 1rem;
	font-size: 1.2rem;
	display: block;
	border: 0.5px solid #00000039;
	border-radius: 0.5rem;
	padding: 1rem;
}
