@import './utils/button.css';

.nav {
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
	justify-content: space-between;
	align-items: center;
	padding: 0 3rem;
	border-bottom: 2px solid #eee;
}

.nav-heading {
	color: #6c63ff;
	font-size: 2rem;
}

.nav-list {
	display: flex;
	list-style: none;
}

.nav-list > li {
	margin: 0 2rem;
}
