<link rel="stylesheet" href="/css/nav.css" />
<header>
	<nav class="nav">
		<h1 class="nav-heading">TODO</h1>

		<ul class="nav-list">
			<li class="button">
				<a href="/signup">Signup</a>
			</li>

			<li class="button">
				<a href="/login">Login</a>
			</li>
		</ul>
	</nav>
</header>
